/* src/styles/global.css */

/* Zera os estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Altera o background padrão da aplicação */
  body {
    background-color: #E6EEF7; /* Altere a cor conforme desejado */
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Inria Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inria Sans', sans-serif;
  }